
/* custom.css */
body {
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }
    
th {
    text-align: -webkit-match-parent; /* For Chrome, Edge, etc. */
    text-align: match-parent; /* For Safari 15.4+ */

    }
